body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
#form, #video-page {
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}
input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(100% - 24px);
  outline: none;
  transition: 0.3s;
}
input:focus {
  border-color: #ff4081;
}
button {
  padding: 12px 30px;
  background: #ff4081;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}
button:hover {
  background: #f50057;
}
video {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
#video-page {
  display: none;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 768px) {
  #form, #video-page {
      padding: 20px;
  }
  h1, h2 {
      font-size: 24px;
  }
}